:root {
  --fondotituloproductos: #ffab9d;
  --tipoletrapeque:'sandregular';
}
@font-face {
  font-family: 'sandRegular';
  src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
  font-family: 'sandBold';
  src: url(../fonts/Quicksand-Bold.ttf);
}
@font-face {
  font-family: 'sandSemibold';
  src: url(../fonts/Quicksand-SemiBold.ttf);
}
* {
  background-color: transparent;
}
body {
  font-family: var(--tipoletra1);
  overflow-x: hidden;
  /* font-family: 'Lumanosimo', cursive; */
}
/* css para navbar */
.lupita img {
  width: 20px;
  height: 20px;
}

.user img {
  width: 25px;
  height: 25px;
}

.cart img {
  width: 25px;
  height: 25px;
}

.heart img {
  width: 25px;
  height: 25px;
}

.sobreNo a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.sobreNo {
  margin-left: 5px;
}

.pildoras {
  transform: translateX(-8px) !important;
}

.offButt img {
  width: 25px;
  height: 25px;
}

.loguito img {
  width: 80px;
  transform: translateX(-35px)
}

.cta img {
  width: 25px;
  height: 25px;
}

.cta {
  border: none;
  background: none;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.reg img {
  width: 25px;
  height: 25px;
}

.reg {
  border: none;
  background: none;
}

.reg span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.reg svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.reg:hover svg {
  transform: translateX(0);
}

.reg:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.reg:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.wish img {
  width: 25px;
  height: 25px;
}

.wish {
  border: none;
  background: none;
}

.wish span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.wish svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.wish:hover svg {
  transform: translateX(0);
}

.wish:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.wish:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cont img {
  width: 25px;
  height: 25px;
}

.cont {
  border: none;
  background: none;
}

.cont span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cont svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cont:hover svg {
  transform: translateX(0);
}

.cont:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cont:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.iconRedes img {
  width: 20px;
  height: 20px
}
/* Fin Navbar */
/*Inicio css para carrucel y quienes somos */
.fondo {
  background-image: url(../img/Fondos/fondofloral.avif);
  opacity: 70%;
  font-weight: 200;
  padding-top: 2%;
  padding-bottom: 2%;
}

.foto1 {
  background-image: url(https://via.placeholder.com/900x300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px !important;
  border: 1px solid;
  color: blueviolet;
}

.jab {
  font-size: 22px;
  border-color: black;
  color: #a00085;
}

.aprende:hover {
  font-weight: 900;
  color: #a00085;
}
.marca{
  font-size: 30px;
  color: rgb(0, 0, 0);
}
.slick-dots li button:before {
  font-size: 16px !important;
  color: #a00085 !important;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 0, 157) !important;
  font-size: 15px;
}
/* fin css carrucel*/
/* Css para el Titulo de productos*/
.ov-botonn-grow-spin {
  background: var(--fondotituloproductos);
  /* color de fondo */
  /* border: 2px solid #4741d7; tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  color: #111;
  margin-top: 20px;
  margin-bottom: 5px;
  /* color de fuente */
  font-family: var(--tipoletra1);
}
.ov-botonn-grow-spin:hover {
  color: #fff;
  /* color de fuente hover */
}
.ov-botonn-grow-spin::after {
  content: "";
  background-image: url(../img/Fondos/fondofloral.avif);
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
  transition: all 0.3s ease;
}

.ov-botonn-grow-spin:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1) rotate(0deg);
}
/* Estilo obtenido de https://ovdivi.com/10-botones-creativos-con-increibles-efectos-hover-para-tus-sitios-web-creados-con-divi/
aplicado en Titulo de productos */

/*Inicio de css para contenedor de grilla*/
.fondotarjeta {
  background-image: url(../img/Fondos/Marco.jpg);
  width: 18rem;
}

.imgtarjeta {
  height: 240px;
}
/* Css Boton Saber mas/
/* Css https://plantillashtmlgratis.com/categoria/efectos-css/botones-css-efecto-hover creado por Andreas Storm / */
.texto {
  text-decoration: none;
  color: inherit;
  font-size: 30px;
}

.cta {
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: rgba(255, 171, 157, 0.5);
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #ffab9d;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.96);
}

/* Fin css para grillas principales*/
/* inicio footer */
.caja{
  background-color:transparent;
  width: 100%;
  height: 200px;  
}
.decoracion a{
  text-decoration: none;
  color: #111;
}
.imgtarjetas{
  height: 80px;
}