@font-face {
    font-family: 'sandRegular';
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'sandBold';
    src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: 'sandSemibold';
    src: url(../fonts/Quicksand-SemiBold.ttf);
}

@font-face {
    font-family: 'tituloBold';
    src: url(../fonts/TituloBold.otf);
}

@font-face {
    font-family: 'tituloItalica';
    src: url(../fonts/TituloItalica.otf);
}


body {
    font-family: 'sandRegular';
}

/* Nav : Barra busqueda e iconos */

.loguito img {
    width: 90px;
    height: 60px;
}

.user img {
    width: 20px;
    height: 20px;
}


.cart img {
    width: 20px;
    height: 20px;
}

.shopp {
    margin-top: 0px;
}

.heart img {
    width: 20px;
    height: 20px;
}

.iniciarS {
    font-size: 13px;
}

.fav {
    font-size: 13px;
}

.shopp {
    font-size: 13px;
}

.sobreNo a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
    font-size: 14px !important;
    font-family: 'sandSemiBold' !important;
}

.pildoras a {
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
}

.pildoras a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.pildoras a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.offButt img {
    width: 25px;
    height: 25px;
}

.offButt:hover button{
    border: 1px solid #ffffff !important;
    border-radius: none !important;
    padding: 0.8em 1.2em 0.8em 1em !important;
    transition: all ease-in-out 0.2s !important;
}

.login:hover button{
    border: 1px solid #ffffff !important;
    border-radius: none !important;
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
    transition: all ease-in-out 0.3s !important;
}

.favorite:hover button{
    border: 1px solid #ffffff !important;
    border-radius: none !important;
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
    transition: all ease-in-out 0.3s !important;
}

.cart:hover button{
    border: 1px solid #ffffff !important;
    border-radius: none !important;
    padding-left: 0.7em !important;
    padding-right: 0.7em !important;
    transition: all ease-in-out 0.3s !important;
}

.cerrarOff img {
    width: 25px;
    height: 25px;
}

/* css buttons offcanvas */

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #ffffff;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.container-input {
    position: relative;
}

.cta img {
    width: 25px;
    height: 25px;
}

.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.reg img {
    width: 25px;
    height: 25px;
}

.reg {
    border: none;
    background: none;
}

.reg span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}

.reg svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.reg:hover svg {
    transform: translateX(0);
}

.reg:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.reg:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.wish img {
    width: 25px;
    height: 25px;
}

.wish {
    border: none;
    background: none;
}

.wish span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}

.wish svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.wish:hover svg {
    transform: translateX(0);
}

.wish:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.wish:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.cont img {
    width: 25px;
    height: 25px;
}

.cont {
    border: none;
    background: none;
}

.cont span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 15px;
    padding-right: 15px;
    text-transform: capitalize;
}

.cont svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cont:hover svg {
    transform: translateX(0);
}

.cont:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cont:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Par no ver las flechas en el telefono */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Texto */

.conText{
    font-family: 'tituloBold';
    font-size: 50px;
    line-height: 40px;
}

.letraP{
    font-family: 'tituloItalica';
    font-size: 30px;
    line-height: 40px
}

/* formulario de contacto */

.logoTel img {
    width: 25px;
    height: 25px;
}

.logoUbi img {
    width: 25px;
    height: 25px;
}

a {
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
    font-size: 13px !important;
}

.contenedorFormulario{
    margin-top: 5rem;
}

/* input formulario */

.inputF {
    border-radius: 10px;
    outline: 1.5px solid #AB8BCB;
    border: 0;
    font-family: 'sandRegular';
    font-size: 13px;
    background-color: #ab8bcb21;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
}

.inputF:focus {
    outline-offset: 5px;
    background-color: #ffffff
}

.container {
    position: relative;
}

.container label {
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    pointer-events: none;
    transition: .5s;
    font-size: 14px;
    font-family: 'sandRegular';
    transform: translateX(65px);
}

.container input:valid~label,
.container input:focus~label {
    color: #AB8BCB;
    transform: translateY(60px);
    transform: translateX(60px);
    font-size: .6rem;
}


.inputF::-webkit-input-placeholder {
    text-align: center;
}

/* css del send button */

.buttonSend {
    background-color: #ab8bcb21;
    border-radius: 24px;
    outline: #AB8BCB solid 1px;
    border-style: none;
    box-shadow: rgba(222, 180, 247, 0.2) 0 4px 6px -2px, rgba(236, 186, 248, 0.14) 0 7px 11px 0, rgba(159, 120, 182, 0.12) 0 2px 19px 0;
    box-sizing: border-box;
    color: #3c4043;
    font-size: 13px;
    font-weight: 500;
    font-family: 'sandRegular';
    letter-spacing: .25px;
    line-height: normal;
    padding: 11px 24px;
    transition: background box-shadow 280ms ease;
}



.buttonSend :active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    border: 2px solid #AB8BCB;
}


/*button,
button::after {
    padding: 10px 15px;
    font-size: 18px;
    background: linear-gradient(45deg, transparent 5%, #f8a0b5 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 1;
    box-shadow: 6px 0px 0px #00e6f6;
    outline: transparent;
    position: relative;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "HOVER ME";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #f8a0b5 5%);
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}













/*el rosa poner como variable #f1c6b8