*{
    background-color: transparent;
}

.boton-slider{
    position: absolute;
}

.huno{
    position: relative;
    top: -100px;
    left: 50%;
    color: rgb(255, 28, 236);
}

.acs{
    border: 1px solid;  
}

.fondo{
    background-image: url(/Durden_Soup/assetts/img/IMAGENESsantiago/quienessomos.jpg);
    padding: o;
    margin: 0;
}